# Protects all root-level files so the technical resource or group will see changes to the structure.
# /* @tech-guru

# Protects all the gitlab-related configurations including this file
# /.gitlab/ @tech-guru

# Following directories relate to the design of the book template
# The trailing / indicates that all files and subfolders down
# the whole tree should trigger these approvers
# /archetypes/ @design-person
# /themes/ @design-person
# /resources/ @design-person
# /layouts/ @design-person
# /assets/ @design-person

# Following directories are department-specific.
# /content/company/ @marketing-person
# /content/dept/peopleops/ @people-ops-person1 @people-ops-person2
# /content/dept/itops/ @itops-person1
# /content/dept/sales/ @sales-person1 @sales-person2 @sales-person3
# /content/dept/engineering/ @engineer-person1
# /content/dept/marketing/ @marketing-person
# /content/dept/finance/ @finance-person1 @finance-person2
# /content/dept/legal/ @legal-person1