// @import "plugins/numbered"; // adds section header numbrs within each page
// @import "plugins/scrollbars"; // forces scrollbar styles to be the same across browsers

.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #f8f9fa;
  border-radius: 4px;
}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}
.breadcrumb > .active {
  color: #0055bb;
}
.breadcrumb a {
  color: #0055bb;
}